
<button (click)="addRemoveProducts()">Dodaj/usun produkty</button>
<br>
<div *ngIf="products.length > 0 ; then productsList else noProducts"></div>
<ng-template #productsList>Lista produktów</ng-template>
<ng-template #noProducts>Brak produktów</ng-template>

<p>Atrybut Hidden:</p>
<div [hidden]="products.length == 0">
    Lista produktów
</div>
<div [hidden]="products.length > 0">
    Brak produktów
</div>
<br>
<ul class="nav nav-pills">
    <li><a class="active" href=""></a></li>
    <li><a href=""></a></li>
</ul>
